*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --cor1: #033D1E;
    --cor2: #ffc72c;

}

body {
    height: 100vh;
    color: white;
    background-color: var(--cor1);
 
}

header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    

}

details > summary{
    list-style: none;
    direction: rtl;

}

#logo{
    grid-area: "logo";
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    
}

#logo>h1{
    margin-left: 20px;
    font-family: "Krona One", sans-serif;
    font-size: 18px;
    text-decoration: underline;

}

.esp{
    margin-right: 0px;
}

nav>a{
    display: flex;
    margin: 10px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    min-height: 40px;
    align-items: center;  


}

#lenSele{
    margin-bottom: 100vh;
}

nav>a:hover{
    color: black;
    background-color: white;

}
#menu{
    margin-right: 0;
    background-color: var(--cor1);
    top: 0;
    right: 0;
    position: absolute;
    
}


#menu-icon{
    font-size: 30px;
}

main{
    background-color: var(--cor2);
    
}

main>section{
    height: 500px;
   
}

#sobre{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

#sobre > div{
    width: 60vw;
    height: 300px;
    margin: 0 0 0 10vw;
    background-color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;

}
