*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --cor1: #033D1E;
    --cor2: #ffc72c;
    
}

body {
    height: 100vh;
    color: white;
    background-color: var(--cor1);
    
}

header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    
    
}

details > summary{
    list-style: none;
    direction: rtl;
    cursor: pointer;
    
}

#logo{
    grid-area: "logo";
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: 60px;
}

#logo>h1{
    margin-left: 20px;
    font-family: "Krona One", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    
}

.esp{
    margin-right: 0px;
}

nav>a{
    display: flex;
    margin: 10px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    min-height: 40px;
    align-items: center;  
    
    
}

#lenSele{
    margin-bottom: 100vh;
}

nav>a:hover{
    color: black;
    background-color: white;
    
}
#menu{
    padding-right: 25px;
    background-color: var(--cor1);
    top: 3%;
    right: 0;
    position: absolute;
    z-index: 999;
    
}


#menu-icon{
    font-size: 30px;
}

#backImage{
    display: flex;
    background-color: var(--cor1);
    justify-content: center;
}

#backImage>img{
    width: 50%;
}

main{
    background-color: var(--cor2);
    
}

#sobre{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: bold;
    text-justify: newspaper;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    text-indent: 30px;
}

#sobre > div{
    display: flex;
    padding: 50px;
    width: 60vw;
    height: 300px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

#conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    
}

@media (min-width: 430px) and (max-width: 900px ){

    #logo>h1{
        margin-left: 20px;
        font-family: "Krona One", sans-serif;
        font-size: 16px;
        text-decoration: underline;
        
    }
    
    #menu{
        padding-right: 25px;
        background-color: var(--cor1);
        top: 2.5%;
        right: 0;
        position: absolute;
        
    }

    #sobre > div{
        width: 70vw;
        height: 300px;
        background-color: white;
    }
    #backImage>img{
        width: 80%;
    }
 
    
    #sobre{
        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-weight: bold;
        text-justify: newspaper;
        color: black;
        font-family: "DM Mono", monospace;
        font-size: 15px;
        text-indent: 30px;
    }

    #sobre > div{
        display: flex;
        padding: 50px;
        width: 60vw;
        height: 300px;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    }
}

@media (max-width: 430px) {

    #logo>h1{
        margin-left: 20px;
        font-family: "Krona One", sans-serif;
        font-size: 14px;
        text-decoration: underline;
    
    }

    #menu{
        padding-right: 25px;
        background-color: var(--cor1);
        top: 3.5%;
        right: 0;
        position: absolute;
    
    }

    #sobre > div{
        width: 80vw;
        height: 200px;
        background-color: white;
    }

    #backImage>img{
        width: 100%
    }

    #sobre{
        display: flex;
        padding: 50px 20px 50px 20px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-weight: bold;
        text-justify: newspaper;
        color: black;
        font-family: "DM Mono", monospace;
        font-size: 12px;
        text-indent: 10px;
    }

    #sobre > div{
        display: flex;
        padding: 30px;
        width: 80vw;
        height: 300px;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    }
}
