#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    font-weight: bold;
    text-justify: newspaper;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 12px;
    flex-direction: column;
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
}

.box>h1{
    text-align: center;
}

.box>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 30px;
}

.box>li{
    margin: 0 20px 0 20px ;
    border: 1px solid black;
}

@media (min-width: 430px) and (max-width: 900px ){
    .box{
        width: 90%;
    }
}

@media (max-width: 430px){
    .box{
        width: 80%;
        font-size: 8px;
    }
}